@model IEnumerable<VLO.Models.Proveedores>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Scripts/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/datatables.min.js"></script>
<link href="~/Content/estilos.css" rel="stylesheet" />
<h2>Proveedores</h2>

<p>
    <a href="@Url.Action("Create","Proveedores")" class="btn btn-success"> <i class="glyphicon glyphicon-plus"></i> Nuevo</a>
</p>
<br />
<div class="row col-md-12 table-responsive" style="margin-top:10px">
    <table id="dtTable" class="table table-bordered" style="background-color:#FFF">
        <thead>
            <tr style="background-color:#E6E6E6">
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreContacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreContacto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.IdProveedor }, new { @class = "btn btn-warning glyphicon glyphicon-refresh" })
                        @Html.ActionLink(" ", "Delete", new { id = item.IdProveedor }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/TableIdioma.js"></script>