@model IEnumerable<VLO.Models.Prestamos>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Scripts/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/datatables.min.js"></script>
<link href="~/Content/estilos.css" rel="stylesheet" />
<h2>Prestamos por empleados</h2>
<p>
    <a href="@Url.Action("Create","Prestamos")" class="btn btn-success"> <i class="glyphicon glyphicon-plus"></i> Nuevo</a>
</p>
<div class="row col-md-12 table-responsive" style="margin-top:10px">
    <table id="dtTable" class="table table-bordered" style="background-color:#FFF">
        <thead>
            <tr style="background-color:#E6E6E6">
                <th>
                    @Html.DisplayNameFor(model => model.Usuarios.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productos.Nombre)
                </th>
                <th>Cantidad a retirar</th>
                <th>Fecha de prestamo</th>
                <th>Estado</th>
                <th>Cantidad devuelta</th>
                <th>Fecha de devolución</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productos.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>@item.Fecha</td>
                    <td>
                        @if (item.Estado == 1)
                        {
                            <span class="badge badge-danger">
                                En espera de confirmación
                            </span>
                        }
                        else if (item.Estado == 2)
                        {
                            <span class="badge badge-success">
                                Confirmado
                            </span>
                        }
                        else if (item.Estado == 3)
                        {
                            <span class="badge badge-warning">
                                Retirado
                            </span>
                        }
                        else if (item.Estado == 4)
                        {
                            <span class="badge badge-dark">
                                Devuelto
                            </span>
                        }
                    </td>
                    <td>@item.CantidadDevuelta</td>
                    <td>@item.FechaDev</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/TableIdioma.js"></script>