@model VLO.Models.FacturaViewModel

@{ Layout = null;

}
@{ var total = 0.00;
    var Item = ViewBag.NT + 1;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/fact.css" rel="stylesheet" />
</head>
@*<style>


        * {
            -webkit-print-color-adjust: exact;
        }
    </style>*@
<body>
    <div class="Contenedor">
        <div class="Encabezado">
            <div class="image">
                @*<img src="~/Content/Logo.png" alt="Logo" style="background-color:black;padding:10px;width:400px" />*@
            </div>
        </div>
        <table style="border:none;">
            <tr>
                <td></td>
                <td>
                    <div style="text-align:left;border:none; border-radius:10px;padding:10px;margin:10px;height:100px;width:150px">

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @foreach (var item in Model.pedidos)
                    {
                        <div>
                            @{ var Adet = Model.factura.Where(x => x.IdPedido == item.IdPedido).ToList();}
                            @foreach (var item2 in Adet)
                            {
                                <p class="Fecha">@item2.FechaFactura</p>

                            }

                        </div>
                    }
                </td>
            </tr>
        </table>

        <table class="DatosCliente">
            <tr>
                <td colspan="2" class="Nombre">
                    @foreach (var item in Model.pedidos)
                    {
                        @item.Cliente
                    }
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10">
        </table>

        <div class="Clista">
            <table class="lista">
                @foreach (var item in Model.detalle)
                {
                <tr>
                    <td class="Cantidad">@item.cantidad</td>
                    <td class="Descripcion2"> @item.Menu.Nombre</td>
                    <td class="Precio1">@item.Menu.Precio</td>
                    <td class="Vns"></td>
                    <td class="Vex"></td>
                    <td class="Venta">@((item.cantidad * @item.Menu.Precio).ToString("C"))</td>
                    @{
                        total += (item.cantidad * @item.Menu.Precio);
                    }
                </tr>

                }
            </table>
        </div>

        @*<table class="Hdetalle" cellpadding="10">

            @foreach (var item in Model.detalle)
            {
                <tr>
                    <td colspan="1">@item.cantidad</td>
                    <td colspan="3">@item.Menu.Nombre</td>
                    <td colspan="2">@item.Menu.Precio</td>
                    <td colspan="1">$0.00</td>
                    <td colspan="1">$0.00</td>
                    <td colspan="2">@((item.cantidad * @item.Menu.Precio).ToString("C"))</td>
                    @{
                        total += (item.cantidad * @item.Menu.Precio);
                    }
                </tr>

            }
        </table>*@

        @*@foreach (var item in Model.pedidos)
        {
            <tr>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2">@total.ToString("C")
                <td colspan="2">$@item.Factura.FirstOrDefault().Propina</td>

                @*<p>Total: @item.Factura.FirstOrDefault().Total</p>
                <p>Descuento (-): @item.Descuento</p>*@
        @*<td></td>
                <td></td>
                <td>$@item.Factura.FirstOrDefault().TotalNeto</td>
            </tr>
        }*@
        <table class="PieFactura">
            @foreach (var item in Model.pedidos)
            {
                <tr>
                    <td class="letras" rowspan="2"></td>
                    <td class="Suma"></td>
                    <td class="SumaCantidad"></td>
                    <td class="TotalSumas"></td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <td style="border:none;">@total.ToString("C")</td>
                </tr>
                <tr>
                    <td class="IVA" colspan="2">.</td>
                    <td style="border:none;"></td>
                </tr>
                <tr>
                    <td> </td>
                    <td colspan="2"></td>
                    <td style="border:none;">$@item.Factura.FirstOrDefault().Total</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> </td>
                    <td style="border:none;">$@item.Factura.FirstOrDefault().Propina</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td style="border:none;">$0.00</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td style="border:none;">$0.00</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td style="border:none;">$@item.Factura.FirstOrDefault().TotalNeto</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>

@*<script>
                window.print();
                setInterval(function () {
                    window.location.href = '@Url.Action("Index", "Ordenes")';
                }, 5000);

    </script>*@

