@model VLO.Models.FacturaViewModel
@{
    /**/
    ViewBag.Title = "Reporte";
}
<h2>Reportes por Ventas</h2>
<div class="table-responsive">
    <div class=" alert-info" >
        
            @foreach (var item in Model.pedidos)
            {
        <div>

            <p>
                Nombre Cliente:  @item.Cliente
            </p>
            <p>Mesa: @item.Mesa.NumMesa</p>
            @{ var Adet = Model.factura.Where(x => x.IdPedido == item.IdPedido).ToList();}
            @foreach (var item2 in Adet)
            {
                <p class="col-md-4">Venta: @item2.Total</p>
                <p class="col-md-4">Descuento (-): @item2.Descuento</p>
                <p class="col-md-4" style="font-weight:bold">Venta Total: @item2.TotalNeto</p>
            }

        </div>
                @Html.ActionLink(" ", "Factura", new { idPedido = item.IdPedido }, new { target = "_blank", @class = "btn btn-success ti ti-printer" })
            }
    </div>
    <table class="table table-bordered">
        
        <tr style="background-color:#E6E6E6">
            <th>Prod. Vendido</th>
            <th>Cant.</th>
            <th>
                Precio
            </th>
            <th>Total</th>
        </tr>

        @foreach (var item in Model.detalle)
        {
            double total = @item.Menu.Precio * item.cantidad;

        <tr>
            <td>
                @item.Menu.Nombre
            </td>
            <td>@item.cantidad</td>
            <td>@item.Menu.Precio</td>
            <td>@total</td>
           
        </tr>
        }


    </table>
</div>
